name: Run tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        # See pyproject.toml for the up-to-date list of dependencies
        # This command is updated manually
        run: |
          python -m pip install --upgrade pip
          pip install jinja2 puremagic pytest epubcheck pytest-md pytest-emoji

      - name: Run tests
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          custom-arguments: '-q'
          click-to-expand: true
          report-title: 'Test Report'